@{
    ViewBag.Title = "Support";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1><span class="logo-code">[<span class="typ">p</span>Mixins]</span> Support</h1>
            <p>Have a question or comment?  Here's how to get help:</p>
            <div class="list-group">
                <a href="https://github.com/ppittle/pMixins/issues?state=open" class="list-group-item">
                    <h4 class="list-group-item-heading">GitHub Issue</h4>
                    <p>Create a new Issue on GitHub.</p>
                </a>
                <a href="http://stackoverflow.com/" class="list-group-item">
                    <h4 class="list-group-item-heading">Stack Overflow</h4>
                    <p>Post a question on the Stack Overflow Q&amp;A site.  Tag the question with <code>C#</code>, <code>Mixins</code>, and <code>AOP</code></p>
                </a>
                <a href="mailto://pmixins@gmail.com" class="list-group-item">
                    <h4 class="list-group-item-heading">Email the Team</h4>
                    <p>Send an email directly to the pMixins team at pmixins@gmail.com</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How to Contribute</h2>
            <p>
                Want to help contribute to the pMixins code base?  Head over to <a href="https://github.com/ppittle/pMixins">Github</a>,
                take a look at the current <a href="https://github.com/ppittle/pMixins/issues?state=openIssues">Issues</a>, fork the repository,
                and submit a <a href="https://help.github.com/articles/creating-a-pull-request">pull request</a>!</p>
            <p>
                Want to become more involved?  <a href="mailto://pmixins@gmail.com">Email the team</a> about becoming a permanent member!
            </p>
        </div>
    </div>
    <div class="row"></div>
</div>
