@{
    ViewBag.Title = "Support";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="logo-code">[<span class="typ">p</span>Mixins]</span> Support</h2>
        </div>
    </div>
</div>
