body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    background: none;
}


/*Google Prettify Overrides - http://stackoverflow.com/questions/1667097/how-to-get-google-prettify-to-render-more-like-visual-studio*/
.com       { color: #008000 !important; }
.str, .tag { color: #A31515 !important; }
.kwd, .atv { color: #0000FF !important; }
.typ       { color: #2B91AF !important; }
.lit, .atn { color: #FF0000 !important; }
.pun, .pln { color: #000000 !important; }
.dec       { color: #800080 !important; }