body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
.jumbotron {
    background: none;
}
*/


/*Callouts http://www.snip2code.com/Snippet/30389/This-is-the-Twitter-Bootstrap-documentat*/
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}

.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}

.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}

.bs-callout a.alert-link {
    font-weight: bold;
}

/*End CallOuts*/


.jumbotron .container {
    max-width: 100%;
}

/*Google Prettify Overrides - http://stackoverflow.com/questions/1667097/how-to-get-google-prettify-to-render-more-like-visual-studio*/
.com       { color: #008000 !important; }
.str, .tag { color: #A31515 !important; }
.kwd, .atv { color: #0000FF !important; }
.typ       { color: #2B91AF !important; }
.lit, .atn { color: #FF0000 !important; }
.pun, .pln { color: #000000 !important; }
.dec       { color: #800080 !important; }

.logo-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

.logo-code-large {
    font-size: 135px;
}

 @media all and (max-width: 980px) {
        .logo-code-large {
            font-size: 14vw;
        }
    }

 .logo-code-medium {
    font-size: 70px;
}

 @media all and (max-width: 980px) {
        .logo-code-medium {
            font-size: 7vw;
        }
    }


 .fullwidth {
     width: 100%;
     padding-left: 0;
     padding-right: 0;
 }

 .section {
     padding-top: 84px;
     padding-bottom: 84px;
     position: relative;
 }

 .section.section-small {
     padding-top: 42px;
     padding-bottom: 42px;
 }

 .section--grey1 {
     background-color: #f3f5f7;
 }

 .section h2 {
     margin-top: -84px;
     padding-top: 84px;

 }

 /*
 h2, .h2 {
    font: 400 40px/1 Menlo, Monaco, Consolas, 'Courier New', monospace;;
    letter-spacing: -0.04em;
}
     */
 .btn a {
     color: #2B91AF ;
 }

 .btn a:hover {
     font-style: normal;
     text-decoration: none;
 }

 .list-group-item .glyphicon {
     float: left;
     margin-right: 10px;
     padding: 15px;
     padding-bottom: 100%;
 }

 .panel h3 {
     margin-top: 10px;
 }
 
 h4 {
     color: #0487c4;
 }

 .navbar-header .logo-code {
     color: #999;
     font-size: 28px;
     padding-top:  4px;
     display: inline-block;
 }

 
 
 .navbar-header .logo-code:hover  {
     color: #d0d0d0;
     text-decoration: none !important;
 }

 .navbar-header .logo-code:hover .typ  {
     color: #0487c4 !important;
 }

  .navbar-btn a {
     color:  #fff;
 }

  footer small {
      font-size: 75%
  }

  pre.console {
    font-family:Courier;
    color: #CCCCCC;
    background: #000000;
    
    padding: 10px;
  }

  html {
    overflow-y: scroll;
}

.bottom-spacing-row {
    padding-bottom: 80px;
}

.dl-horizontal dd {
    padding-bottom: 10px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

dd p {
    padding-top: 0;
    padding-bottom: 0;
}

.bs-callout .btn {
    margin-top: -5px;
}

.btn-ad {
    background-color: #edb802;
    border-color: #eea236;
    color: white;
}

.btn-ad:hover {
    color: white;
    cursor: default;
}
