@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="center-block text-center" style="padding-top: 20px">
            <p></p>
            <p class="logo-code logo-code-medium">[<span class="typ">p</span>Mixins]</p>
            <p>A lightweight open source <a href="http://en.wikipedia.org/wiki/Mixins">Mixin</a> and <a href="http://en.wikipedia.org/wiki/Aspect-oriented_programming">AOP</a> framework for C#.</p>
        </div>
    </div>
    <hr/>
    @RenderBody()
    <div class="row bottom-spacing-row"></div>
</div>
