@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    @RenderBody()
</div>

<hr />
Download the source for this and all other recipes <a href="~/Content/pMixins.Mvc.Recipes.zip">Here!</a>
