
@{
    ViewBag.Title = "Recipes";
}
@model IEnumerable<CopaceticSoftware.pMixins.Mvc.Models.Recipe>

<h2>AllRecipes</h2>

<ol>
    @foreach (var recipe in @Model)
    {
        <li>
            <a href="@Url.Action("Index","Recipes", new {recipeId = recipe.Id})">@recipe.Name</a>
        </li>
    }
</ol>

d