@using CopaceticSoftware.pMixins.Mvc.Extensions

<h2>Hello World</h2>

@Html.RenderSourceClass("BasicMixin/BasicMixin.cs", "AnswerToTheUniverseMixin")

<p>Some discussion..  Now see this class:</p>

@Html.RenderSourceClass("BasicMixin/BasicMixin.cs", "HelloWorldMixin")

Download full example <a href="~/Content/pMixins.Mvc.Recipes.zip">Here!</a>