@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2>pMixins Recipes</h2>
            <ul>
                <li><a href="@Url.Action("BasicMixin")">Basic Mixin</a></li>
                <li>AOP - Logging / Exception Handling / Parameter Checking</li>
                <li>Repository Pattern</li>
                <li>Context Aware Mixins - IMixinDependency</li>
                <li><a href="@Url.Action("AbstractMixin")">Abstract Mixins</a></li>
                <li><a href="@Url.Action("VirtualMethodOverrides")">Overriding Virtual Mixin Methods</a></li>
                <li>Mixin with Non Public / Non Paramaterless Constructor</li>
                <li><a href="@Url.Action("DependencyInjectionMixin")">Using Dependency Injection with pMixins</a></li>
                <li>Specific Mixin Constructor</li>
            </ul>
            <p>
                Download the source for all recipes <a href="~/Content/pMixins.Mvc.Recipes.zip">Here!</a>
            </p>
        </div>
    </div>
</div>
