<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2>pMixins Recipes</h2>
            <ul>
                <li>AOP - Logging / Exception Handling / Parameter Checking</li>
                <li>Basic Mixin</li>
                <li>Repository Pattern</li>
                <li>Context Aware Mixins - IMixinDependency</li>
                <li>Abstract Mixins</li>
                <li>Overriding Virtual Mixin Methods</li>
                <li>Mixin with Non Public / Non Paramaterless Constructor</li>
                <li>Using Dependency Injection with pMixins</li>
                <li>Specific Mixin Constructor</li>
            </ul>
        </div>
    </div>
</div>
