@{
    ViewBag.Title = "pMixins Code Generation Framework";
}

<div class="center-block text-center">
    <p></p>
    <img src="~/Content/Images/fullLogo.png" />

    <p class="lead">A lightweight Open Source <a href="http://en.wikipedia.org/wiki/Mixins">Mixin</a> and <a href="http://en.wikipedia.org/wiki/Aspect-oriented_programming">AOP</a> framework for C#</p>

</div>

<div class="row" style="min-height: 40px">

</div>

<div class="container">
    <div class="row clearfix text-center" style="margin-left: -70px">
        <div class="col-md-3 col-md-offset-3">
                <p><a href="https://github.com/ppittle/pMixins"><img src="~/Content/Images/GitHub-Mark-120px-plus.png" alt="Contribute on github" /></a></p>
                <p><a href="https://github.com/ppittle/pMixins">Contribute</a></p>
        </div>
        <div class="col-md-3">
            <p><a href="http://visualstudiogallery.msdn.microsoft.com/a40fde9e-0e3f-4cdc-9c2a-af9de11695b2"><img src="~/Content/Images/VisualStudio2013_black.png" alt="Download from Visual Studio Gallery" style="width: 120px; height: 120px;" /></a></p>
            <p><a href="http://visualstudiogallery.msdn.microsoft.com/a40fde9e-0e3f-4cdc-9c2a-af9de11695b2">Download</a></p>
        </div>
    </div>
</div>



    @*
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    *@
