@{
    ViewBag.Title = "Motivation";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="pull-right">
                <p>
                    Avoid <a href="http://en.wikipedia.org/wiki/Implementation_inheritance">implementation inheritance</a>
                    whenever possible
                </p>
                <small>
                    James Gosling <cite title="Father of Java">
                        <a href="http://www.javaworld.com/article/2073649/core-java/why-extends-is-evil.html">Father of Java</a>
                    </cite>
                </small>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>The Role of Mixins and AOP</h1>
        </div>
    </div>
</div>