@{
    ViewBag.Title = "Installation";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="pull-right">
                <p>Wacky Ideas 1: Inheritance is dead, long live mix-ins!</p>
                <small>
                    Jon Skeet <cite title="MS MVP - Coding Blog">
                                  <a href="http://msmvps.com/blogs/jon_skeet/archive/2007/02/27/wacky-ideas-1-inheritance-is-dead-long-live-mix-ins.aspx">MS MVP - Coding Blog</a>
                              </cite>
                </small>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h1>Installing <span class="logo-code">[<span class="typ">p</span>Mixins]</span></h1>
            <p>
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span> is a 
                <strong>100% free</strong> download from the
                <a href="http://visualstudiogallery.msdn.microsoft.com/a40fde9e-0e3f-4cdc-9c2a-af9de11695b2">
                    Visual Studio Gallery
                </a>
                and <a href="https://www.nuget.org/packages/pMixins/">NuGet</a>.
            </p>
            <p>
                <strong>Code Generator</strong>
                <br/>
                The first step to get up and running with 
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                is to install the Code Generator plugin for Visual Studio from 
                the <a href="http://visualstudiogallery.msdn.microsoft.com/a40fde9e-0e3f-4cdc-9c2a-af9de11695b2">
                        Visual Studio Gallery
                    </a>.
                Alternatively, it can be installed directly from the Extensions and Updates 
                window from within Visual Studio by searching for <em>pmixins</em>.
            </p>
            <p>
                Once installed, the 
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Code Generator will begin generating code-behind files for any class
                decorated with the <code>pMixin</code> attribute.
            </p>
            <p>
                <div class="text-center">
                    <img src="~/Content/Images/pMixinsExtensionAndUpdates.png" class="img-rounded" />
                </div>
            </p>
            <p></p>
            <p>
                <strong>Adding the 
                    <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                    Framework to your Project</strong>
                <br/>
                Once the Code Generator is installed into your Visual Studio, you'll need 
                to add the <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Framework package from <a href="https://www.nuget.org/packages/pMixins/">NuGet</a>.
                This package contains the <code>pMixin</code> attribute used to decorate your
                <em>Target</em> classes.
            </p>
            <p>
                As an alternative to installing the 
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Framework from
                <a href="https://www.nuget.org/packages/pMixins/">NuGet</a>,
                you can install the 
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Code Generator - Item Template for 
                <a href="http://visualstudiogallery.msdn.microsoft.com/e2fb83fc-a6e2-46bd-a392-00f9d081b17c">
                    Visual Studio 2013
                </a>
                or for 
                <a href="http://visualstudiogallery.msdn.microsoft.com/22a11b71-c5e6-4766-8532-759a2078d3d8">
                    Visual Studio 2012
                </a>.
                The
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Code Generator - Item Template adds the <em>pMixins Class File</em> to the
                <em>Add New Item</em> Visual Studio dialog window.  Adding a file of this type
                to your project will automatically add the 
                <span class="logo-code">[<span class="typ">p</span>Mixins]</span>
                Framework.

            </p>
            <p>
                <div class="text-center">
                    <img src="~/Content/Images/pMixinsAddNewItem.png" class="img-rounded" />
                </div>
            </p>
        </div>
    </div>
</div>

