@{
    ViewBag.Title = "Installation";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="pull-right">
                <p>Wacky Ideas 1: Inheritance is dead, long live mix-ins!</p>
                <small>
                    Jon Skeet <cite title="MS MVP - Coding Blog">
                                  <a href="http://msmvps.com/blogs/jon_skeet/archive/2007/02/27/wacky-ideas-1-inheritance-is-dead-long-live-mix-ins.aspx">MS MVP - Coding Blog</a>
                              </cite>
                </small>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h1>Installing <span class="logo-code">[<span class="typ">p</span>Mixins]</span></h1>
            <p>
                Installation Steps
            </p>
        </div>
    </div>
</div>

