<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CopaceticSoftware.Common" version="0.2.5010.18016" targetFramework="net45" />
  <package id="ICSharpCode.NRefactory" version="5.3.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.2" targetFramework="net45" />
</packages>